$bg-green: #849d8f;
$font-family: 'Roboto', 'Arial', sans-serif;
$font-w-bold: 700;
$font-w-regular: 400;
$font-w-medium: 500;
$border-r-small: 5px;
$light-gray: rgba(0, 0, 0, 0.2);
$light-wihite: rgba(255, 255, 255, 0.2);
