.advantages {
  @include row;
  border: 1px solid white;

  &__title {
    width: 1000/1150*100%;
    padding: 0;
    margin: 0;
  }

  &__item {
    width: 532/1150*100%;
    border: 1px solid yellow;
    padding: 0;
    margin: 0;
  }

}
