.cart {
  position: relative;
  box-sizing: border-box;
  width: 120px;
  height: 35px;
  padding-left: 45px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 16px;
  background-color: $light-wihite;
  cursor: default;


  &__text {
    display: block;
    margin-top: 11px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 18px;
    width: 21px;
    height: 20px;
    margin-top: -10px;
    background: url('../img/sprite.png') -114px -148px;
  }

  &__order-wrap {
    position: absolute;
    z-index: 5;
    top: 100%;
    right: 0;
    margin-top: 5px;
  }

  &__order {
    box-sizing: border-box;
    width: 545px;
    padding: 20px 15px;
    border-radius: $border-r-small;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  }

  &__table {
    margin-bottom: 14px;
  }

  &__table-row {
  }

  &__table-close {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      top: 50%;
      right: 0;
      left: 0;
      margin-top: -1px;
      background-color: #353535;
      transform: rotate(45deg);
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      top: 50%;
      right: 0;
      left: 0;
      margin-top: -1px;
      background-color: #353535;
      transform: rotate(-45deg);
    }
  }

  &--full {
    background-color: white;
    color: black;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 18px;
      width: 21px;
      height: 20px;
      margin-top: -10px;
      background: url('../img/sprite.png') -155px -148px;
    }
  }
}
