.field {
  position: relative;
  width: 100%;

  &__label {
    position: absolute;
    display: block;
    bottom: 50%;
    left: 15px;
    margin-bottom: -12px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: black;
    border: 1px solid $light-gray;
    border-radius: $border-r-small;
    background-color: white;

    &:hover {
      padding: 9px 14px;
      border: 2px solid $light-gray;
    }

    &:valid {
      & + .field__label {
        bottom: 100%;
        margin: 0;
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
        color: #999999;
      }
    }

    &:invalid {
      box-shadow: none;

      & + .field__label {
        bottom: 50%;
        left: 15px;
        margin-bottom: -12px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #999999;
      }
    }

    &:focus {
      padding: 9px 14px;
      border: 2px solid #5b9ddf;
      outline: none;

      & + .field__label {
        bottom: 100%;
        margin: 0;
        font-size: 11px;
        line-height: 13px;
        font-weight: 400;
        color: #5b9ddf;
      }
    }
  }
}
