.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 860px;

  &__item {
    margin-right: 12px;
    margin-bottom: 17px;
    border: 0;
  }

  &__title {
    margin-left: 17px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: white;
  }
}
