.map  {
  width: 100%;
  height: 430px;
  border: 1px solid blue;

  &__centerize {
    position: relative;
    bottom: 438px;
    min-height: 430px;
    margin: 0 auto;
  }

  &__adress-feedback {
    position: absolute;
    top: 63px;
    right: 0;
  }
}
