.page {
  margin: 0px;
  padding: 0px;
  font-family: $font-family;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: $font-w-regular;
  color: #ffffff;
  background: $bg-green;

  &__header {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 325px;
  }

  &__footer {
    margin: 0 auto;
  }
}
