.shedule{
  width: 175px;
  text-align: right;

  &__time {
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }

  &__phone {
    padding: 0;
    margin: 0;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
  }
}
